{% raw %}
%----------------------------------------------------------------------------------------
%	Settings and packages
%----------------------------------------------------------------------------------------

\documentclass[10pt]{article}

\usepackage{colortbl}
\usepackage{multirow}
\usepackage[table]{xcolor}
\usepackage{ctable}
\usepackage{float}
\usepackage[landscape,margin=0.25in,legalpaper]{geometry}

\newcommand{\mcn}[2]{\multicolumn{#1}{l}{#2}}	
\newcommand{\mccn}[2]{\multicolumn{#1}{c}{#2}}
\newcommand{\mcl}[1]{\multicolumn{2}{l}{#1}}
\newcommand{\mclg}[1]{\multicolumn{2}{l}{\gr #1}}
\newcommand{\mcc}[1]{\multicolumn{2}{c}{#1}}
\newcommand{\mccg}[1]{\multicolumn{2}{c}{\gr #1}}
\newcommand{\mr}[1]{\multirow{-2}{*}{#1}}
\definecolor{Gray}{gray}{0.90}
\newcommand{\gr}{\cellcolor{Gray}}

\newcommand{\thickline}{\specialrule{.1em}{.05em}{.05em}}

\setlength\parindent{0pt}

% column colours
\newcolumntype{g}{>{\columncolor{Gray}}l}
\newcolumntype{w}{>{\columncolor{white}}l}

%----------------------------------------------------------------------------------------
%	Table
%----------------------------------------------------------------------------------------
{%- endraw %}

\begin{document}

\thispagestyle{empty}
{\bf {{ year }} Deepwell Cup}
{{ main_table }}

{\bf Points}\\
\begin{minipage}{ {{- '12cm' if year<2018 else '10cm' -}} }
{{ scoring_table }}
{%- if year != 2019 %}

    \vspace{1cm}
    {\bf Number of picks per team:}\\
{{ counts_table }}
{% endif -%}
\end{minipage}
{%- if year >= 2018 %}
\begin{minipage}[t!]{4cm}
    \vspace{-2cm}
    Correct team Points\\
    \begin{tabular}{c l | c c c c }
{{ correct_points }}
    \end{tabular}
\end{minipage}
\begin{minipage}[t!]{4cm}
    \vspace{-2cm}
    Incorrect team Points\\
    \begin{tabular}{c l | c c c c }
{{ incorrect_points }}
    \end{tabular}
\end{minipage}
{%- endif -%}
{%- if playoff_round != 1 %}
\begin{minipage}[t]{13cm}
    \begin{figure}[H]
        \vspace{-3cm}
        \includegraphics[width=13cm]{ {{- ranking_image_path -}} }
    \end{figure}
\end{minipage}
{% else %}
{% endif %}
{%- if year == 2019 -%}
\begin{minipage}[t!]{15cm}
    \vspace{-3.5cm}
    {\bf Number of picks per team:}\\
{{ counts_table }}
\end{minipage}
{% endif %}
\end{document}
