\begin{table}[h!]
  \centering
  \adjustbox{max width=\textwidth}{
    \begin{tabular}{ {{- column_format -}} }
        \rowcolor{black}\mcn{ {{- num_columns -}} }{\color{white}\bf {{ table_title -}} } \\
        \rowcolor{white}\\
        {{ column_header }}
{{ round_table }}
          \rowcolor{white}\\
        \rowcolor{black} \mcn{ {{- num_columns -}} }{\color{white}\bf Conference Champions} \\
{{ champions_table }}
    \end{tabular}
  }
\end{table}